<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">MovieFinder</a>
</nav>
<main role="main" class="container">
  <div class="starter-template">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Browse Our Movie</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium necessitatibus error debitis, earum quod nisi odio
      magni iusto consequatur sunt quo ab aliquam eos eaque expedita architecto illum culpa dignissimos.</p>
    <br>
    <br>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Learn More</button>
  </div>

</main>