<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Web Server</title>
    <link rel="stylesheet" href="/static/styles/site.css">
    <script src ="/static/js/app.js"></script>
</head>
<body>
    <h1>Hello....</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse libero consequuntur dignissimos magnam numquam adipisci aliquid ullam porro, eligendi perspiciatis nulla quod recusandae facere natus mollitia delectus rem ea animi!</p>
    <a href="/about.html">About Us</a>
    <button onclick="getMessage()">Get Message</button>
</body>
</html>