<div  class="container">
  <h1>List of registered users:</h1>
  <a to="/admin/register" type="button" class="btn btn-success">Create New User</a>
  <div class="modal-dialog" role="document"  *ngIf="users?.length!==0">
    <div  class="modal-content" *ngFor= "let user of users ">
      <div class="modal-header">
        <h5 class="modal-title">User Details:</h5>
        <button (click)="deleteElement(user._id)"  type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="false">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          UserID: <strong>{{ user._id }} </strong>
        </p>
        <p>
          UserName: <strong>{{ user.username }} </strong>
        </p>
        <p>
          UserEmail: <strong>{{ user.email }} </strong>
        </p>
        <p>
          User First Name: <strong>{{ user.firstName }} </strong>
        </p>
        <p>
          User Last Name: <strong>{{ user.lastName }} </strong>
        </p>
        <p>
          Is Admin: <strong> {{user['_kmd']['roles']?.length!==0 ? "YES" : "NO"}} </strong>
        </p>
      </div>
      <div class="modal-footer">
        <a class="badge badge-warning">Edit User / Change Password</a>
        <span class="badge badge-success" >Make this user an Admin</span>
        <span class="badge badge-danger" >Remove Admin role for the user</span>
      </div>
    </div>
  </div>
</div>